<div>
    <ul>
        <li>{{data.name}}</li>
        <li>
            <address>
                {{data.address.street}}, {{data.address.suite}}, {{data.address.city}}, {{data.address.zipcode}}
            </address>
        </li>
        <li>
            <div>
                <h4>{{data.company.name}}</h4>
                <p>{{data.company.catchPhrase}}</p>
                <p>{{data.company.bs}}</p>
            </div>
        </li>
        <li>{{data.email}}</li>
        <li>{{data.phone}}</li>
        <li>{{data.username}}</li>
        <li>{{data.website}}</li>

    </ul>
</div>