//bind required details to the business card
<div class="card">
    <div class="left">
        <p class="name"><span class="first" data-content="{{data.firstName}}">{{data.firstName}} </span><span class="last" data-content="{{data.lastName}}"> {{data.lastName}}</span></p>
        <p class="company">{{data.company.name}}</p>
    </div>

    <div class="right">
        <div class="business">
            <p>{{data.company.catchPhrase}}</p>
            <p>{{data.company.bs}}</p>           
        </div>
        <div class="info">
            <p><span class="caption">Phone: </span>{{data.phone}}</p>
            <p><span class="caption">E-mail: </span>{{data.email}}</p>
            <p><span class="caption">Username: </span>{{data.username}}</p>
            <p><span class="caption">URL: </span>{{data.website}}</p>
            <p><span class="caption">Address: </span>{{data.address.street}}, {{data.address.suite}}, {{data.address.city}}, {{data.address.zipcode}}</p>
        </div>
    </div>
</div>