<div>
    <div id="searcharea">
        <label for="search">Search</label>

        <input ng-model="searchQuery.name" type="search" name="search" id="search" placeholder="Name " />
    </div>
    <div id="update">
        <ul ng-if="data" class="searchresults">
            <li ng-repeat="val in data | filter:searchQuery | orderBy:'name'">
                <a ng-href="#!/card/{{val.id}}">
                    <h4>{{val.name}}</h4>
 
                </a>
            </li>
        </ul>
    </div>
</div>